# Created by .ignore support plugin (hsz.mobi)
/client/client.iml
/common/common.iml
/server/server.iml
/Express.iml
/.idea
/server/src/main/java/save
/target
/client/target
/common/target
/server/target
